# Use constraints to ensure compatibility
-c https://raw.githubusercontent.com/apache/airflow/constraints-2.10.2/constraints-3.10.txt

# Airflow Core
apache-airflow==2.10.2 # All the following versions are based on this Airflow version in combination with Python 3.10

# Providers
apache-airflow-providers-google==10.22.0
apache-airflow-providers-http==4.13.0

# Additional dependencies
google-cloud-storage==2.18.2
astroid==2.15.8
pylint==2.16.0 # constraints.txt requests astroid==2.15.8 so we align with a compatible pylint version
